.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 30px 0;
    gap: 30px;
}
h2{
    font-size: 40px;
    color: rgb(81, 7, 7);
}
.form{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-size: 16px;
}
.input{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(81, 7, 7);
    width: 300px;

}
.formInput{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
    flex-direction: column;
    margin: 25px 0;
    
}
.label{
    font-size: 18px;
    color: rgb(81, 7, 7);
    font-weight: bold;
    text-decoration: underline;
}
.btn1{
    padding: 10px;
    border-radius: 5px;
    border: 1px solid rgb(81, 7, 7);
    background-color: rgb(81, 7, 7);
    color: white;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 40px;
    font-weight: bold;
    margin-bottom: 20px;
}
.btn1:hover{
    background-color: rgba(81, 7, 7, 0.384);
    color: black;
}
.btn2{
    cursor: pointer;
    text-decoration: underline;
    color: black;
    transition: 0.3s ease;

}
.btn2:hover{
    color: rgb(81, 7, 7);
    font-weight: bold;
}